.education-page {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    row-gap: 9%;
    box-sizing: border-box; 
    background:linear-gradient(black,rgba(0, 0, 255, 0.646));
  
  }
  .study {
    color: white;
    border: 2px solid white;
    border-radius:30px;
    background-color: rgba(0, 0, 0, 0.333);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px;
    text-wrap: wrap;
    box-shadow: 32px 32px 0 0 rgba(0, 0, 0, 0.447);
    transition:0.9s ease;
    position: relative;
  }
  .study:hover,.study:active{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
  }
  .wrapper{
    min-width:80%;
    border:3px solid rgb(255, 255, 255);
    border-radius: 15px;
    max-height:100%;
  
  }
  .card-body{
      display:flex;
      flex-direction: column;
      justify-content: flex-start;
      padding:0px 20px 20px 2px;
      min-width:100%;
  }
  
  
  @media (max-width:1024px){
    .education{
      display:none;
    }
    .education-page{
      grid-template-columns: repeat(2,1fr);
      row-gap:8vh;
      padding:20vh 0 20vh 0;
    }
    .study{
      min-height:10vh;
      width:80%;
      transition: 0.5s ease-in-out;
    }
    .study:hover{
      transform: scale(1.2);
    }
  
  
  
  }
  
  @media (max-width:768px){
    .education{
      display:none;
    }
    .education-page{
      grid-template-columns: repeat(1,1fr);
      row-gap:8vh;
      padding:20vh 0 20vh 0;
    }
    .study{
      min-height:10vh;
      width:80%;
      transition: 0.5s ease-in-out;
      gap:20px;
    }
   
  
  
  }
  
  @media (min-width: 1024px) {
  
    .education-page {
     display:none;
    }
  
    .education{
      min-height:100vh;
      width:100%;
      display: flex;
      justify-content: space-evenly;
      position:relative;
      padding:20vh 0 10vh 0;
      background-color: rgb(108, 81, 199);
    }
  
    .left-sidebar{
      border:2px solid white;
      max-height:80vh;
      min-width:20vw;
      border-radius: 20px 20px 30px 30px;
      padding:15px;
      background:linear-gradient(rgba(255, 255, 255, 0.815),rgba(255, 255, 255, 0.461)) ;
      animation:from-left 1s ease;
    }
  
    .right-sidebar{
      min-height:70vh;
      width:70vw;
      border-radius:25px;
      border:2px solid white; 
      box-sizing: border-box;
      background:linear-gradient(rgb(92, 79, 193),rgb(0, 0, 0)) ;
      animation:from-right 1s ease;
        
    }
  
    .side-menu-item{
      min-height:10vh;
      max-width:98%;
      border:2px solid rgb(255, 255, 255);
      display:flex;
      justify-content: center;
      align-items: center;
      margin-top:3vh;
      border-radius: 15px;
      transition: 0.5s ease;
      background:linear-gradient(to right,rgba(93, 49, 196, 0.66),rgb(0, 0, 0)) ;
  
    }
    .side-menu-item:hover{
      transform: scale(1.1);
      border-color: 2px solid black;
      background:linear-gradient( to right ,black,rgba(54, 37, 112, 0.744)) ;
    }
   
    .degree-img{
      max-width:25vw;
      height:30vh;
      object-fit: cover;
   
    }
   
   
    .card-body{
      text-align: left;
      padding:0px;
      min-width:50%;
    }
  
  
    .right-sidebar{
      display:flex;
      justify-content:center;
      align-items:center;
    }
    .right-side-item{
      position: absolute;
      border:2px solid rgb(255, 255, 255);
      display:flex;
      justify-content:space-around;
      align-items: center;
      padding:30px;
      border-radius: 15px;
      gap:20px;
      opacity: 0;
      transition: 1s ease;
      box-sizing: border-box;
      background:linear-gradient(rgb(92, 49, 218),rgb(0, 0, 0));
    }
    
    .scale-up {
      transform: translate3d(0%, 0%, 100px);
      opacity:1;
      height:50vh;
      padding:10vh;
     
  
    }
    
  }
  
   
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  @keyframes from-left {
    0% {
      transform: translateX(-300px);
      opacity: 0%;
    }
    100% {
      transform: translateX(0px);
      opacity: 100%;
    }
  }
  @keyframes from-right {
    0% {
      transform: translateX(300px);
      opacity: 0%;
    }
    100% {
      transform: translateX(0px);
      opacity: 100%;
    }
  }
  
  
  
  