.voice-container{
    position:absolute;
    z-index:1000;
    color:white;
    border:2px solid white;
    height:10vh;
    min-width:25vw;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: scale(0.8);
    margin-left: 8vw;
}
.voice-btn{
    border-radius: 10px;
    background: linear-gradient(rgb(76, 76, 141), rgba(255, 255, 255, 0.646));
    padding:4px;
}
.voice-btn:hover{
    background: linear-gradient(rgb(42, 35, 77), rgb(198, 178, 244));

}

/* for mobile tabs design starts  */

@media(max-width:1025px){
 .voice-container{
    border-radius: 50%;
    border:none;
 }
 .voice-btn{
    border-radius: 50%;
    padding:20%;
    color:rgb(0, 0, 0);
    font-size:15px;
    box-shadow:  -32px 12px 0 0 ;     
}
}

/* for mobile tabs design ends  */