.skills-container {
    display: grid;
    gap: 40px;
    place-content: center;
    grid-template-columns: repeat(5, 1fr);
    min-height: 100vh;
    width: 100%;
    padding: 15vh 2vh 2vh 2vh ;
    background: linear-gradient(rgba(0, 0, 0, 0.849),rgba(0, 0, 255, 0.584));
  }
  .skill {
    background:linear-gradient(rgba(72, 75, 170, 0.9),rgb(0, 0, 0)) rgba(119, 80, 209, 0.717);
    box-shadow: 25px 25px 0 0 rgba(37, 30, 30, 0.612);
    border: 2px solid rgba(0, 0, 0, 0.879);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    color: white;
    max-height: 10em;
    min-height: 10em;
    animation: updown 1.3s ease;
    transition: 0.5s ease-in-out;
    box-sizing: border-box;
    animation: from-up 2s ease;
  }
  
  
  .skill img {
    width: 100%;
    max-width: 10em;
    height: auto;
    max-height: 5em;
  }
  
  
  
  
  .skill:hover{
    transform: perspective(900px) translateY(20%) rotateX(35deg) translateZ(0);
    transition: 1s ease;
    background:linear-gradient(rgb(82, 44, 139),white);
   }
  
  @media (min-width: 1025px) {
    .skills-container {
      grid-template-columns: repeat(5, 1fr);
      gap: 50px;
      
    }
  }
  
  @media (max-width: 1025px) {
    .skills-container {
      grid-template-columns: repeat(2, 1fr);
     
    }
  }
  @media (max-width: 992px) {
    .skills-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 768px) {
    .skills-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 576px) {
    .skills-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 359px) {
    .skills-container {
      grid-template-columns: repeat(1, 1fr);
      gap:10px;
      /* background-color: aqua; */
    }
  }
  
  @keyframes updown {
    0% {
      transform: translateY(100px);
      opacity: 0%;
    }
    100% {
      transform: translateY(0px);
      opacity: 100%;
    }
  }

  @keyframes from-up{
    0%{
      transform:translateY(-300px);
    }
    100%{
      transform:translateY(0px);
    }
  }
  